:root {
    --light: #e5ddc7;
    --dark: hsl(180, 8%, 12%);
    --accent: hsl(6, 54%, 45%);

    --thick: 2px;
    --thin: 1px;
}

#nav {
    background-color: var(--accent);
}

    #nav a {
        color: var(--light);
    }

#home {
    background-color: var(--accent);
}

    #hero h1 {
        color: var(--light);
    }

#menu {
    background-color: var(--light);
}

    #menu-container {
        border: var(--thick) solid var(--accent);
    }

        #pizza-prices {
            border: var(--thin) solid var(--accent);
        }

            #sizes,
            #price-categories .category h3 {
                color: var(--accent);
            }