:root {
    --light: #e5ddc7;
    --dark: hsl(180, 8%, 12%);
    --accent: hsl(6, 54%, 45%);

    --thick: 2px;
    --thin: 1px;
}

body {
    color: var(--dark);
}

nav {
    background-color: var(--accent);
    color: var(--light);
}

    .link-container {
        background-color: transparent;
    }

    .link-container a {
        color: var(--light);
    }

    .link-container a:hover,
    .link-container a:active,
    .link-container a:focus {
        background-color: var(--light);
    }

    a:hover,
    a:active,
    a:focus,
    a::selection {
        color: var(--accent);
    }

#home,
#menu {
    background-color: var(--accent);
}

.logo-container h1 {
    color: var(--light);
}

.menu-container {
    background-color: var(--light);
}

    .menu-section,
    #address,
    #hours,
    #phone {
        border: var(--thick) solid var(--accent);
    }

    #pizza-prices,
    #toppings-list {
        border: var(--thin) solid var(--accent);
    }

#location {
    background-color: var(--light);
}

    .hours-open {
        color: var(--accent);
    }