:root {
    --nav-height: 10vh;
    --main-height: (100vh - var(--nav-height));
    --gap: 1em;
    --padding: 1em;
}

/* SHARED GRID RULES */

body,
.menu-container,
#menu-pizzas,
#hours,
.hours-open,
.hours-open .left,
.hours-open .right {
    display: grid;
}

body,
.menu-container,
#hours,
.hours-open,
.hours-open .left,
.hours-open .right {
    grid-template-columns: auto;
}

.menu-container,
#hours,
.hours-open,
.hours-open .left,
.hours-open .right {
    grid-template-rows: auto;
}

/* SHARED FLEXBOX RULES */

nav,
section,
ul,
.link-container,
.link-container a:hover,
.link-container a:active,
.link-container a:focus,
.logo-container,
.menu-container .right,
.menu-section,
#pizza-prices,
.size,
#pizza-prices .menu-item,
#pizza-list,
#toppings-list,
#menu-drinks,
#menu-extras,
#menu-drinks .drink-items,
#menu-extras .xtra-items,
#menu-drinks .menu-item,
#menu-extras .menu-item,
.location-container,
.days,
.times {
    display: flex;
}

ul,
.logo-container,
.menu-container .right,
.menu-section,
.size,
#pizza-list,
#toppings-list,
#pizza-prices .menu-item,
#menu-drinks .menu-item,
#menu-extras .menu-item,
.location-container,
.days,
.times {
    flex-flow: column;
}

section,
.link-container,
.logo-container,
.link-container a:hover,
.link-container a:active,
.link-container a:focus {
    justify-content: center;
    align-items: center;
}

#pizza-prices .menu-item {
    align-items: center;
}


/* SHARED SIZING/SPACING */

.link-container,
.link-container a:hover,
.link-container a:active,
.link-container a:focus,
#menu-pizzas {
    height: 100%;
}

.menu-container .right,
.menu-section,
#menu-pizzas,
#toppings-list,
.location-container,
.hours-open .left,
.hours-open .right {
    gap: var(--gap);
}

.size,
#pizza-prices .menu-item,
#hours {
    gap: calc(var(--gap) / 2);
}

a,
section,
.menu-container,
.menu-section,
#pizza-prices,
#pizza-list,
#toppings-list,
#hours {
    padding: var(--padding);
}


#address,
#phone {
    padding: calc(var(--padding) / 2)
}


/* INDIVIDUAL CLASS/ID STYLES */

.space-left {
    margin: 0 0 0 auto;
}

.menu-container {
    grid-template-areas: 'pizzas sides'
                         'pizzas drinks'
                         'pizzas extras';
    column-gap: var(--gap);
    width: 80%;
}

    #menu-pizzas {
        grid-area: 'pizzas';
        /* display: grid; */
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: 'header header'
                             'prices prices'
                             'pizzas toppings';
    }

        #menu-pizzas h1 {
            grid-area: header;
        }

        #pizza-prices {
            grid-area: prices;
            justify-content: space-between;
            align-items: flex-end;
        }

            .size,
            #pizza-prices .menu-item {
                width: max-content;
            }
        
        #pizza-list {
            grid-area: pizzas;
            justify-content: space-between;
            align-items: flex-start;
        }

        #toppings-list {
            grid-area: toppings;
        }
    
    #menu-sides {
        grid-area: 'sides';
    }

    #menu-drinks {
        grid-area: 'drinks';
    }

    #menu-extras {
        grid-area: 'extras';
    }

    #menu-drinks,
    #menu-extras {
        flex-direction: row;
        align-items: center;
    }

        #menu-drinks h1,
        #menu-extras h1 {
            grid-area: title;
            width: min-content;
            height: min-content;
            padding-left: var(--padding);
        }

        #menu-drinks .drink-items,
        #menu-extras .xtra-items {
            grid-area: items;
            width: 100%;
            gap: calc(var(--gap) * 3);
        }

#hours {
    grid-template-areas: 'open'
                         'closed';
}

    .hours-open {
        grid-area: 'open';
        grid-template-areas: 'left right';
        gap: calc(var(--gap) * 2);
    }

        .hours-open .left {
            grid-area: 'left';
        }

        .hours-open .right {
            grid-area: 'right';
        }

        .hours-open .left,
        .hours-open .right {
            grid-template-areas: 'days times';
        }

            .days {
                grid-area: 'days';
            }

            .times {
                grid-area: 'times';
            }

    .hours-closed {
        grid-area: 'closed';
    }


/* INDIVIDUAL ELEMENT STYLES */

body {
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 'nav'
                         'main';
    height: 100vh;
    padding: 0em;
    margin: 0em;
}

nav,
main {
    position: fixed;
    width: 100%;
}

nav {
    grid-area: 'nav';
    z-index: 2;
    justify-content: flex-start;
    align-items: center;
    height: var(--nav-height);
}

main {
    grid-area: 'main';
    z-index: 1;
    height: 100vh;
    overflow: auto;
}

    section {
        min-height: 100%;
        padding-top: var(--nav-height);
    }

        ul {
            list-style: none;
            justify-content: space-between;
            height: 100%;
        }


/* HIDE SCROLLBAR */

main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Safari & Opera */
main::-webkit-scrollbar {
    display: none; /* Safari & Opera */
}
