@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --base-shrink: 1.15vw;
    /* --base: /// ; */
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

#nav-links {
    list-style: none;
}

    a {
        text-decoration: none;
    }

        #nav a:hover,
        #nav a:active {
            text-decoration: underline;
        }

#hero h1 {
    font-family: 'Autour One', cursive;
    /* font size set in reset.css */
}

#menu-container div > h2 {
    font-size: 1.5em;
}