@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --base-shrink: 1.15vw;
    --base: calc(0.05rem + var(--base-shrink));
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: var(--base);
}

a {
    text-decoration: none;
}

.logo-container h1 {
    font-family: 'Autour One', cursive;
}

h1 {
    font-size: calc(var(--base) * 2);
}

h1:not(.logo-container h1) {
    font-weight: 500;
}

h2 {
    font-size: calc(var(--base));
    font-weight: 500;
}

.menu-items span,
li {
    font-size: calc(var(--base) * 0.85);
}

#menu-drinks h1,
#menu-extras h1 {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
}

#address,
.hours-closed,
#phone {
    text-align: center;
}