@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --base-shrink: 1.15vw;
    --subtext: 0.85em;
    --menu-header: 1.5em;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
}

#nav-links {
    list-style: none;
}

    a {
        text-decoration: none;
    }

        #nav a:hover,
        #nav a:active {
            text-decoration: underline;
        }

#hero h1 {
    font-family: 'Autour One', cursive;
    /* font size set in reset.css */
}

#menu-container div > h2 {
    font-size: var(--menu-header);
}

    #sizes,
    #price-categories .category span {
        font-size: var(--subtext);
    }

    #pizza-toppings .category-list {
        font-size: var(--subtext);
    }

        #pizza-list .menu-item-ydesc span,
        #sides-list .menu-item-ydesc span {
            font-size: var(--subtext);
        }

    .sideways {
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        text-align: center;
    }

    .category-list span {
        font-size: var(--subtext);
    }

#address,
#phone {
    text-align: center;
}